<h3>From address:</h3>

<div class="addressinput">
		<div class="input-group">
		  Name: 
		  <input type="text" class="form-control">
		</div>
	<br />
		<div class="input-group">
		  Company: 
		  <input type="text" class="form-control">
		</div>
	<br />
		<div class="input-group">
		  Street 1: <input type="text" class="form-control">
		</div>
	<br />
		<div class="input-group">
		  Street 2: <input type="text" class="form-control">
		</div>
	<br />
		<div class="input-group">
	 		City: <input type="text" class="form-control">
		</div>
	<br />
		<div class="input-group">
	  	State: <input type="text" class="form-control">
		</div>
	<br />
		<div class="input-group">
	  	Zip: <input type="text" class="form-control">
		</div>
	</div>
</div> <!-- /.addressinput -->