
<div class="jumbotron">
	<div align="center">
		<h1>Print a Shipping Label Here!</h1>
			<br />
		<%= link_to "Domestic Label", domesticlabel_path, class: "btn btn-primary btn-lg" %>
	 <%= link_to "International Label", internationallabel_path, class: "btn btn-primary btn-lg" %>
	</div> <!-- /ends centering -->
</div>
