
<div class="jumbotron">
	<div align="center">
		<h1>Print a Shipping Label Here!</h1>
			<br />
		<p><%= link_to "Domestic Label", about_path, class: "btn btn-primary btn-lg" %></p>
		<p><%= link_to "International Label", "#", class: "btn btn-primary btn-lg" %></p>
	</div> <!-- /ends centering -->
</div>
